.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-column {
    margin-bottom: 10px;
  }
  
  .footer-icon {
    font-size: 24px;
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .footer-icon:hover {
    color: var(--secondary-color);
  }
  