/* 定義された色変数 */
:root {
  --primary-color: #1890ff;
  --secondary-color: #f5222d;
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
  
}

/* アプリ全体のスタイル */
.App {
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ヘッダースタイル */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: white;
  padding: 0 20px;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease;
}


header .logo h3 {
  margin: 0;
  color: white;
}



/* フッタースタイル */
.footer {
  text-align: center;
  background: var(--primary-color);
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* コンテンツのスタイル */
.site-layout-content {
  padding: 24px;
  margin-top: 64px;
  margin-bottom: 64px;
  min-height: 380px;
}

/* ボックススタイル */
.box {
  background: var(--lightgray-color);
  padding: 20px;
  text-align: center;
  border-radius: 4px;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .box {
    margin-bottom: 16px;
  }
}
